.main-footer {
  background-color: #DDDDDD;
  width: 100%;
  height: 30vh;
  margin-top: 20vh;
  padding: 30px;
}

.footer-app-intro {
  margin-bottom: 15px;
  font-weight: bold;
  font-style: italic;
}

.http-url {
  text-decoration: none;
}