<%# CSS・・・assets/stylesheets/shared/footer.css %>


<footer>
  <div class="main-footer">
    <div class="footer-app-intro">このサイトはプログラミング練習のために作られたサイトです。</div>
    <div class="footer-app-intro">サイト作成者：金　載永（キム　ジェヨン）</div>
    <div class="footer-app-intro">email：kimjy3217@gmail.com</div>
    <div class="footer-app-intro">Github:
      <a href="https://github.com/jaykim3217/webapp1", class="http-url">https://github.com/jaykim3217/webapp1</a>
    </div>

  </div>
</footer>