// index
.index-picture {
  padding: 5vh 10vw;
}

.top-image {
  width: 100%;
  height: 50vh;
}

.items {
  margin: 0 4vw;
}

.item-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item-list {
  margin-bottom: 20px;
}

.item-content {
  text-decoration: none;
}

.item-image {
  width: 20vw;
  height: 30vh;
}

.brand-name {
  font-size: 10px;
  color: gray;
  margin: 5px 0;
}

.item-explain {
  color: black;
  font-size: 15px;
}

.item-price {
  color: black;
  font-size: 17px;
}

.item-delivery {
  background-color: #DDDDDD;
  font-size: 10px;
  color: gray;
}

//new
.item-new {
  margin-top: 70px;
}

.item-new-title {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.item-new {
  margin-left: 8vw;
}

.weight-bold-text {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0;
}

.indispensable {
  font-size: 15px;
  color: red;
}

.preview-image {
  width: 200px;
  height: 200px;
}

.items-text {
  width: 30vw;
}

.select-box {
  width: 30vw;
}

.items-brand {
  width: 30vw;
}

.sell-btn-contents {
  margin-top: 30px;
}

//메세지
.comment-form{
  display: flex;
}

.comment-text{
  display: block;
  margin-top: 20px;
}

.back-btn {
  text-decoration: none;
}

.comment-submit{
  display: block;
  margin-top: 20px;
}

.comment{
  display: flex;
}

.comment p{
   margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}