// index
.index-picture {
  padding: 40px 100px;
}

.top-image {
  width: 1250px;
  height: 400px;
}

.items {
  margin: 0 70px;
}

.item-lists {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.item-list {
  margin-bottom: 20px;
  margin-right: 10px;
}

.item-content {
  text-decoration: none;
  display: block;
  
}

.index-img-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
}

.item-image {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.brand-name {
  font-size: 10px;
  color: gray;
  margin: 5px 0;
  text-overflow: ellipsis;  
  white-space: nowrap; 
  word-break: break-all;
  width: 300px;
  
}

.item-explain {
  color: black;
  font-size: 15px;
  overflow: hidden;  		
  text-overflow: ellipsis;  
  white-space: nowrap; 
  word-break: break-all;
  width: 300px;
}

.item-price {
  color: black;
  font-size: 17px;
}

.item-delivery {
  background-color: #DDDDDD;
  font-size: 10px;
  color: gray;
}

//new
.item-new {
  margin-top: 70px;
}

.item-new-title {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.item-new {
  margin-left: 8vw;
}

.weight-bold-text {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0;
}

.indispensable {
  font-size: 15px;
  color: red;
}

.preview-image {
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: auto;
}

.items-text {
  width: 30vw;
}

.select-box {
  width: 30vw;
}

.items-brand {
  width: 30vw;
}

.sell-btn-contents {
  margin-top: 30px;
}

//show
.show {
  padding: 0 4vw;
  margin-top: 100px;
}

.item-show {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
}

.item-order {
  display: block;
  width: 400px;
  height: 600px;
  margin-left: 50px;
  position: absolute;
  top: 20vh;
  right: 10vw;
}

.item-img {

  width: 100%;
}

.item-img-content {
  position: relative;
  width: 600px;
  height: 600px;
}
.item-box-img {
  position: absolute;
  top: 0;
  left: 100px;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}





.item-show-brand-name {
  color: gray;
  font-size: 30px;
  word-wrap: break-word
}

.item-show-product {
  font-size: 40px;  
  margin-top: 20px;
  word-wrap: break-word
}

.item-show-price {
  font-size: 40px;
  margin-top: 20px;
}

.item-show-category {
  font-size: 30px;
  margin-top: 20px;
}

.item-show-delivery {
  font-size: 20px;
  margin-top: 20px;
}

.item-show-order-button {
  margin-top: 30px;
}

.item-show-order-btn {
  text-decoration: none;
  background-color: cadetblue;
  color: white;
  font-size: 30px;
  padding: 15px 40px;
}

.other-images {
  display: flex;
}

.other-image {
  margin-right: 10px;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
}






.item-show-explain {
  margin-top: 100px;
}

.item-explain {
  font-size: 30px;
}

.explain {
  width: 100%;
  height: 100px;
  font-style: oblique;
  word-wrap: break-word
}

.comment-form{
  display: flex;
  margin-bottom: 100px;
}

.comment-text{
  display: block;
  margin-top: 20px;
  width: 40vw;
}

.back-btn {
  text-decoration: none;
}

.comment-submit{
  display: block;
  margin-top: 20px;
}


.comments {
  background-color: #eee8e8;
  width: 40vw;
  height: 20vh;
}

.comment{
  display: flex;
}

.comment p{
   margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}

.show-btn {
  display: flex;
}

.items-show-btn {
  margin-right: 50px;
  
}

.item-show-btn {
  text-decoration: none;
  background-color: cadetblue;
  color: white;
  font-size: 30px;
  padding: 15px 40px;
}