.index-picture {
  padding: 0 10vw;
}

.top-image {
  width: 100%;
  height: 50vh;
}
//메세지
.comment-form{
  display: flex;
}

.comment-text{
  display: block;
  margin-top: 20px;
}

.comment-submit{
  display: block;
  margin-top: 20px;
}

.comment{
  display: flex;
}

.comment p{
   margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}