
// user상세화면
.user-show {
  margin: 0 4vw;
}

.user-welcome {
  font-size: 20px;
  margin: 5vh 0 0 0;
  font-style: italic;
}

.welcome-btn {
 margin-top: 1vh;
 display: flex;
}

.show-logout {
  margin-right: 2vw;
}

.show-logout-btn {
  text-decoration: none;
  color: blue;
}

.show-root-btn {
  text-decoration: none;
  color: blue;
}

.show-list {
  margin-top: 50px;
}
